<div class="commentContainer">
    <div class="commentAuthorContainer">
        <a href="#/User/{{comment.Author.Id}}">{{comment.Author.UserName}}</a>
    </div>
    <div class="commentTextContainer">
        {{comment.Text}}
    </div>
</div>