<!DOCTYPE html>
<html lang="en" ng-app="main">
<head>
    <meta charset="utf-8">
    <title>{{appTitle}}</title>

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/nottit.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">{{appTitle}}</a>
                <div class="btn-group pull-right" ng-show="user.UserName">
                    <a class="btn dropdown-toggle" href="#/User/{{user.Id}}"><i class="icon-user"></i>{{user.UserName}}</a>
                </div>
                <div class="btn-group pull-right" ng-show="!user.UserName">
                    <a class="btn dropdown-toggle" ng-click="doLogin()"><i class="icon-user"></i>Login</a>
                </div>
                <div class="nav-collapse pull-right" ng-show="user.UserName">
                    <ul class="nav">
                        <li><a ng-click="logout()" ng-controller="LoginController">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container" ng-view>
    </div>
    <!-- /container -->

    <div id="loginModal" class="modal hide fade" ng-controller="LoginController">
        <div class="modal-header">
            <a class="close" data-dismiss="modal" href="myModal">x</a>
            <h3>Please Log In</h3>
        </div>
        <div class="modal-body">
            <div ng-show="!!loginErrorMessage">
                {{loginErrorMessage}}
            </div>
            <form name="myForm" ng-submit="login()">
            <div>
                <label>Username</label>
                <input type="text" name="username" ng-model="username" required>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" ng-model="password" required>
            </div>
            </form>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Login" class="btn btn-primary" ng-click="login()" />
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-1.0.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-resource-1.0.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MainModule.js"></script>
</body>
</html>
