<nottit-link></nottit-link>

<textarea ng-model="newComment.Text"></textarea>
<input type="submit" value="Comment" class="btn btn-primary" ng-click="createComment()" />

<div ng-repeat="comment in link.Comments">
    {{comment.Text }} -- {{comment.Author.UserName}}
    <div><a ng-click="replyTo(comment)">reply</a></div>
</div>