<nottit-link></nottit-link>

<textarea ng-model="newComment.Text" rows="6" columns="30"></textarea>
<div>
    <input type="submit" value="Comment" class="btn btn-primary" ng-click="createComment()" />
</div>

<div class="linkCommentsContainer">
    <nottit-comment ng-repeat="comment in link.Comments"></nottit-comment>
</div>

