<div>
    <div class="voteContainer">
        <div class="arrow upvote-{{link.UpvoteCurrentUser || 'false'}}" ng-click="voteUp(link)" ng-controller="LinksController"></div>
        <div class="voteTally">{{link.VoteTally}}</div>
        <div class="arrow downvote-{{link.DownvoteCurrentUser || 'false'}}" ng-click="voteDown(link)" ng-controller="LinksController"></div>
    </div>
    <div class="linkTitle">
        <a href="{{link.Url}}" target="_blank">{{link.Title}}</a>
    </div>
    <div class="clear"></div>
    <div>
        submitted by {{link.Submitter.UserName}}, <a href="#/Link/{{link.Id}}">
            <ng-pluralize count="link.CommentCount || 0"
                when="{'0': 'comment',
            'one': '1 comment',
            'other': '{} comments'}" />
        </a>
    </div>
</div>
