<h2>Links</h2>

<a ng-click="showCreate()">Submit</a>

<div>
<ng-pluralize count="links.length"
    when="{'0': 'no links yet',
    'one': '1 link',
    'other': '{} links'}" />
</div>

<nottit-link ng-repeat="link in links"></nottit-link>

@*<div ng-repeat="link in links">
    <div class="voteContainer">
        <div class="arrow upvote-{{link.CurrentUser.Upvote || 'false'}}" ng-click="voteUp(link)"></div>
        <div class="voteTally">{{link.VoteTally || 0}}</div>
        <div class="arrow downvote-{{challenge.CurrentUser.Downvote || 'false'}}" ng-click="voteDown(link)"></div>
    </div>
    <div class="linkTitle">
        <a href="{{link.Url}}">{{link.Title}}</a>
    </div>
    <div class="clear"></div>
    <div>submitted by {{link.Submitter.UserName}}, <a href="#/Link/{{link.Id}}">
        <ng-pluralize count="link.CommentCount || 0"
            when="{'0': 'comment',
            'one': '1 comment',
            'other': '{} comments'}" />
        </a>
    </div>
</div>*@


<div id="createLinkModal" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" href="myModal">x</a>
        <h3>Submit a link</h3>
    </div>
    <div class="modal-body">
        <div ng-show="!!submitLinkErrorMessage">
            {{submitLinkErrorMessage}}
        </div>
        <form name="myForm" ng-submit="create()">
        <div>
            <label>Title</label>
            <input type="text" name="title" ng-model="newLink.Title" required>
        </div>
        <div>
            <label>Url</label>
            <input type="text" name="url" ng-model="newLink.Url" required>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Submit" class="btn btn-primary" ng-click="create()" />
    </div>
</div>
