<h2>{{user.UserName}}</h2>

<h3>Submissions</h3>
<div ng-show="!user.Links.length">No submissions yet</div>
<div ng-repeat="link in user.Links">
    {{link.Title}}
</div>

<h3>{{user.Comments.length}} Comments</h3>
<div ng-show="!user.Comments.length">No submissions yet</div>
<div ng-repeat="comment in user.Comments">
    <div>{{comment.Link.Title}}</div>
    <div>-- {{comment.Text}}</div>
</div>