#availableUsers {
    font-size: 10px;
    color: grey;
    margin-bottom: 10px;
}

.arrow {
    width: 15px;
    height: 14px;
    background-image: url(sprite-reddit.png);
    cursor: pointer;
}

.upvote-true {
    background-position: -96px -612px;
}

.upvote-false {
    background-position: -80px -612px;
}

.downvote-true {
    background-position: -64px -612px;
}

.downvote-false {
    background-position: -48px -612px;
}

#submitContainer {
    float: right;
}

.linkContainer {
    margin-bottom: 20px;
}

.voteContainer {
    float: left;
}

.linkTitle {
    font-size: 16px;
}

.voteTally {
    text-align: center;
    color: #C6C6C6;
    font-weight: bold;
    font-family: Verdana, Arial, helvetica, sans-serif;
    font-size: 13px;
}

.linkInfoContainer {
    float: left;
    margin-left: 15px;
}

.submittedContainer {
    color: #888;
    font-size: x-small;
    line-height: normal;
}

.commentsContainer {
    line-height: normal;
}

.commentsContainer a {
    color: #888;
    font-size: 10px;
    font-weight: bolder;
    display: inline-block;
}

.linkCommentsContainer {
    margin-top: 30px;
}

.commentContainer {
    margin-bottom: 20px;
    max-width: 80%;
}

.commentContainer:last-of-type {
    margin-bottom: 0;
}

.commentAuthorContainer {
    font-weight: bold;
    font-size: 10px;
}

.clear {
    clear: both;
}